:root {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-color:rgb(24, 23, 23);
}

.container-fluid {
    padding: 25px;
    display: flex;
}

header {
    display: flex;
    width: 100%;
    height: 18vh;
    background-image: url("./assets/K.D.\ Kilker.png");
}

.topnav, a{
    height: auto;
    width: 100%;
    overflow: hidden;
    display:inline-flex;
    justify-content: space-around;
    background-color: rgb(24, 23, 23);
}

.topnav a {
    text-decoration: none;
    font-size: 3vh;
    color:antiquewhite;
    height: auto;
    width: 100%;
    padding: 1vh;
}

#top-banner, h1, p {
    color:antiquewhite;
    padding: 1vh;
    width: 100%;
    height: auto;
}